body {
  background-image: url('./images/deez\ cold\ ones\ snow\ cone\ decals.jpg');
  background-position: top;
  font-family: Arial, sans-serif;
}

nav {
display: flex; /* Display the list items in a row */
justify-content: space-around; /* Space items evenly along the main axis */
list-style-type: none; /* Remove the default bullet points */
padding: 0; /* Remove default padding */
}

nav a {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
}

footer {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  margin-top: 525px;
  color: black;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  position: relative;
}
