h1, p {
    text-align: center;
}


form {
    background-color: whitesmoke;
    padding: 20px;
    width: 300px;
    /* the auto in this margin moves the actual form to the middle of the page */
    margin: auto; 
    margin-bottom: 1%;   
}

label {
    display: block;
    margin-bottom: 10px;
    color: black;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 100px;
  }

/* the login button and words on it */
input[type="submit"] {
  background-color: orchid;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}